body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #e15dc88e;
  overflow: scroll;
  padding: 0;
  margin: 0
}

html {
  height:100%;
  overflow: scroll;
  
}

nav {

  background-color: aqua;
}

header {
  height: 6rem;
  background: rgb(151, 246, 151);
}

form {
  display: flex;
  flex-direction: column;
  height: 98%;
  background: rgb(244, 155, 96);
  padding: 8px;
}

fieldset {
  width: 100%;
  height: 89%;
  border-radius: 10px;
}

fieldset>div {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.3rem;
  border-radius: 10px;
}

div>input,
textarea {
  border-radius: 5px;
  border: 1px red solid;
}

textarea {
  display: flex;
  flex-direction: column;
  grid-area: textarea;
  height: 15vh;
}

.containerbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;

}

.btnsend {
  background: green;
  color: white;
  padding: 2px;
  cursor: pointer;
  border-radius: 6px;
  padding: 3px;
  text-align: center;
  border: none;
}

.btnreset {
  background: rgba(255, 0, 0, 0.744);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  border: none;
}

footer {
  
  background: rgb(151, 246, 151);
}

aside {
  background: rgb(67, 226, 67);
}

@media screen and (min-width: 700px) {
    html{        
        height: 100%;
    } 

  body {
    height: 100%;
    display: grid;
    grid-template-areas:
      "nav header header"
      "nav form aside"
      "nav footer footer";
    grid-template-columns: 15vw 1fr 8vw;
    grid-template-rows: 5rem 1fr 5em;
  }

  nav {
    background-color: aqua;
    grid-area: nav;
  }

  header {
    background: rgb(151, 246, 151);
    grid-area: header;
  }

  form {
    background: rgb(244, 155, 96);
    grid-area: form;
  }

  fieldset {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  } 
  .izq{
    width: 50vh;
    height: 30vh;
  }
  .der{
    width: 50vh;
    height: 30vh;
  }

  textarea {    
    display: flex;
    flex-direction: column;  
  } 

  footer {
    background: rgb(151, 246, 151);
    grid-area: footer;
  }

  aside {
    background: rgb(67, 226, 67);
    grid-area: aside;
  }
}