:root{    
      
    --color-primario:rgba(255, 0, 0, 0.601);
    --color-secundario:rgba(0,0,0,0);
    --color-negro:rgba(0,0,0,0);
    --color-blanco:rgba(255, 255, 255, 0.438);
    --font-size:17px;
    --color-activo: rgba(0, 0, 255, 0.629);
    
        
}


*, ::after, ::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 @font-face {
    font-family: "Mystery Quest";
    font-style: normal;
    src: url("mystery-quest.https://fonts.googleapis.com/css?family=Mystery+Quest");
 }
html{    
    font-family: "Mystery Quest", cursive;    
    font-size: var(--font-size);
    min-height: 100vh;
    min-width: 100vw;
 
}
main{
    height: 100%;
}


/*a{
    PROPIEDAD PARA QUE LOS ELEMENTOS QUE PODEMOS HACER CLICK NO FUNCIONE
    
    pointer-events: none;
}
*/